body {
  background-color: #f8f8fa;
}

* {
  font-family: 'Cormorant Garamond';
}

.container__title {
  width: 100%;
}

.container-fluid__title {
  width: 85%;
}

/* #region Flex's Style */
.promo__right, .register-info > .row div, .menu-primary, .bottom-nav .city {
  display: flex;
  align-items: center;
}

.container-fluid > .row:nth-child(1), .promo__right, .register-info > .row div {
  display: flex;
  justify-content: center;
}

/* #endregion */
/* #region Text Mixin */
/* #endregion */
.container__title, .container-fluid__title {
  float: left;
  color: black;
}

.nav_bordered__item {
  transition: all 0.35s ease-out;
  cursor: pointer;
}

.nav_bordered__item:hover {
  transform: scale(1.1);
}

.nav_bordered {
  border-top: 1px solid #64b4e2;
}

.nav__item {
  transition: all 0.35s ease-out;
  cursor: pointer;
  padding-right: 40px;
  margin-right: 5px;
  display: inline-flex !important;
}

.nav__item i {
  font-size: 10px;
  margin-left: 8px;
  text-align: center;
  line-height: 18px;
}

.nav__item__last {
  padding: 0 20px;
}

@media (max-width: 960px) {
  .nav__item {
    padding: 0;
  }
  .nav__item__last {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .nav__item, .nav__item_last {
    display: block !important;
    text-align: center;
    padding: 15px 0;
    margin-right: 0;
  }
  .nav__item i, .nav__item_last i {
    position: absolute;
    right: 10px;
    top: 30%;
  }
  .nav__item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .nav__item:nth-child(1) {
    padding-top: 10px;
  }
  .navbar-collapse {
    overflow: hidden !important;
    padding: 0;
  }
}

.nav__link, .nav__link_last {
  padding: 0 !important;
  text-decoration: none;
  font-size: 22px;
  color: #939393;
  font-weight: bold;
}

.nav__link, .nav__link_last {
  transition: all 0.15s ease-out;
  background-color: white !important;
}

.nav__link:hover, .nav__link:focus, .nav__link_last:hover, .nav__link_last:focus {
  color: #939393;
  transform: scale(1.1);
}

@media (max-width: 1200px) {
  .nav__link, .nav__link_last, .dropdown-toggle {
    font-size: smaller !important;
  }
}

@media (max-width: 767px) {
  .nav__link, .nav__link_last, .dropdown-toggle {
    font-size: 14px !important;
  }
}

.nav_size_primary {
  font-size: 14px;
  line-height: 45px;
}

.nav_size_secondary {
  text-transform: initial;
  font-size: 14px;
  margin-right: 10px;
  line-height: normal;
}

.nav {
  background-color: white;
  height: 65px;
}

@media (max-width: 767px) {
  .nav.row {
    min-width: 350px;
    position: absolute;
    width: 100%;
    height: 50px;
    z-index: 2;
  }
}

@media (max-width: 450px) {
  .nav {
    display: block;
  }
}

.top-nav__additional {
  line-height: 47px;
  text-align: right;
  padding-right: 0;
}

.top-nav__item {
  font-size: 16px;
  text-transform: uppercase;
  display: inline;
  margin-right: 25px;
}

.top-nav__item:last-child {
  margin-right: 0;
}

.top-nav__item a {
  color: #64b4e2;
}

.top-nav__item:last-child a {
  color: #939393;
}

.top-nav__link {
  font-family: 'Roboto';
}

.top-nav {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 15px;
}

.bottom-nav {
  width: 90%;
  height: 100%;
  background: white;
  box-shadow: -5px -4px 15px rgba(0, 0, 0, 0.08);
}

.bottom-nav .city {
  cursor: pointer;
  justify-content: flex-end;
  height: 65px;
  padding-right: 20px;
}

.bottom-nav .city__name {
  margin-left: 10px;
  font-family: 'Roboto';
  text-decoration: underline;
  color: #64b4e2;
}

.promo__description {
  font-weight: bold;
  font-size: 22px;
  color: black;
  width: 360px;
}

.promo__title {
  font-weight: bold;
  font-size: 48px;
  text-transform: uppercase;
  color: black;
}

.promo__button {
  width: 280px;
  height: 65px;
  margin-top: 45px;
}

.promo__image {
  margin-left: 80px;
}

.promo__left {
  z-index: 1;
}

.promo__right {
  flex-direction: column;
  background-color: #aaaaaa;
  background-image: linear-gradient(-124deg, #c2e9fb 0%, #a1c4fd 100%);
}

.reviews__description {
  margin-top: 20px;
  padding-left: 45px;
  padding-right: 20px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
}

.reviews__image {
  width: 180px;
  background-image: linear-gradient(-74deg, #c2e9fd 0%, #a1c4fd 100%);
  padding: 50px 30px;
}

.reviews__item {
  display: flex;
  width: 600px;
  height: 260px;
  margin-right: 30px;
  background: white;
  box-shadow: -5px -4px 24px rgba(0, 0, 0, 0.17);
  border-radius: 3px;
}

.reviews__list {
  display: flex;
}

.reviews__name {
  color: #64b4e2;
  font-family: 'Cormorant Garamond';
  font-weight: bold;
  font-size: 20px;
}

.reviews__person {
  display: flex;
  padding: 15px;
}

.reviews__person img {
  width: 80px;
  height: 80px;
}

.reviews__person .person__info {
  display: inline;
  margin-top: 20px;
  margin-left: 25px;
}

.reviews__person .person__info * {
  display: block;
}

.reviews__post {
  font-family: 'Cormorant Garamond';
  font-size: 20px;
  font-weight: bold;
}

.register-info {
  margin-top: 115px;
}

.register-info > .row div {
  flex-direction: column;
}

.register-info .button {
  width: 420px;
  height: 75px;
  margin-top: 30px;
}

.register-info h2 {
  font-size: 34px;
}

.footer {
  border-top: 1px solid #bdbdbdb4;
  color: #939393;
}

.footer__left {
  float: left;
}

.footer__copyright {
  float: right;
}

.button {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.button-primary {
  color: white;
  border: 1px solid #64b4e2;
  background-image: linear-gradient(to top, #a1c4fd 0%, #c2e9fb 100%);
  border-radius: 5px;
}

.button-secondary {
  transition: all 0.35s ease-out;
  border: 0;
  border-radius: 32px;
  background: white;
  color: #fdac7d;
  box-shadow: -5px -4px 24px rgba(0, 0, 0, 0.17);
}

.button-secondary:hover {
  color: white;
  background: #fdac7d;
}
