@import 'PControl.css';

@font-face {
	font-family: "Icon";
	src: url("/bootstrap/fonts/glyphicons-halflings-regular.ttf");
}


html, body {
  min-width: 320px;
}

.icon-bar {
	background: #939393;
}

@media (max-width: 767px) {
	.nav__link_last {
		position: relative;
		color: #64b4e2;
	}

	.nav__link_last img {
		position: absolute;
		top: 50%;
		transform: translateY(-50%) translateX(-20px);
	}

	.container__title {
		text-align: center;
		width: 100%;
		margin-left: 0;
	}

	.navbar-header {
		z-index: 2;
		position: absolute;
		right: 0;
	}

	.navbar-collapse {
		z-index: 1;
		position: absolute;
		width: 100%;
		top: 0px;
		background: #fff;
		left: 0px;
	}
}

