.footer {
  height: 135px;
  margin-top: 105px;
  border-top: 1px solid #bdbdbdb4;
  color: $gray;

  > .row {
    margin-top: 20px;
  }

  span {
    font-family: 'Roboto';
  }

  &__left {
    margin-left: 80px;
    float: left;
  }

  &__copyright {
    margin-right: 80px;
    float: right;
  }
}

@media (max-width: 440px) {
  .footer {
    margin-top: 48px;

    &__left {
      margin-left: 10px;
    }
  
    &__copyright {
      margin-right: 10px;
    }
  }
}