.bottom-nav {
  @include size(90%, 100%);
  background: white;
  box-shadow: -5px -4px 15px rgba(0, 0, 0, 0.08);

  .city {
    cursor: pointer;
    @extend %centerVertically;
    justify-content: flex-end;
    height: 65px;
    padding-right: 20px;

    &__name {
      margin-left: 10px;
      font-family: 'Roboto';
      text-decoration: underline;
      color: $primary;
    }
  }
}