.reviews__person {
  display: flex;
  padding: 15px;

  img {
    @include square(80px);
  }

  .person__info {
    display: inline;
    margin-top: 20px;
    margin-left: 25px;

    * {
      display: block;
    }
  }
}

@media (max-width: 1150px) {
  .reviews__person {
    padding-right: 5px;

    img {
      @include square(60px);
    }
  }

  .person__info {
    margin-top: 10px !important;
    margin-left: 10px !important;
  }
}

@media (max-width: 520px) {
  .reviews__person {
    padding-left: 10px;
    img {
      @include square(50px);
    }

    .person__info {
      margin-top: 0 !important;
    }
  }
}