.reviews__person {
  display: flex;
  padding: 15px;

  img {
    @include square(80px);
  }

  .person__info {
    display: inline;
    margin-top: 20px;
    margin-left: 25px;

    * {
      display: block;
    }
  }
}