.reviews__list {
  @extend %standart-list;
  @extend %centerHorizontally;
  margin-top: 45px;
}

@media (max-width: 991px) {
  .reviews__list {
    flex-direction: column;
    align-items: center;
  }
}