@mixin square($width) {
  width: $width;
  height: $width;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}



@mixin setCell($row, $column) {
  grid-column: $column;
  grid-row: $row;
}

@mixin animation($time) {
  transition: all $time ease-out; 
}

/* #region Flex's Style */
%centerVertically {
  display: flex;
  align-items: center;
}

%centerHorizontally {
  display: flex;
  justify-content: center;
}

%center {
  @extend %centerVertically;
  @extend %centerHorizontally;
}
/* #endregion */

/* #region Text Mixin */
%link {
  color: $primary;
}
/* #endregion */

%absoluteReset {
  position: absolute;
  top: 0;
  left: 0;
}

%disableOutline {
  &:focus {
    outline: 0;
  }
}

%title {
  width: 100%;
  text-align: center;
  margin-top: 35px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

%standart-list {
  list-style: none;
  -webkit-padding-start: 0px !important;
}