body {
  background-color: $background;
}

* {
  font-family: 'Cormorant Garamond';
}

.container {
  &__title {
    @extend %title;
    width: 100%;
  }

  &-fluid {
    > .row {
      &:nth-child(1) {
        @extend %centerHorizontally;
      }
    }

    &__title {
      @extend %title;
      width: 85%;
    }
  }
}