body {
  background-color: $background;
}

* {
  font-family: 'Cormorant Garamond';
}

.container {
  &__title {
    @extend %title;
    margin-left: 80px;
  }

  &-fluid.promo {
    > .row {
      &:nth-child(1) {
        @extend %centerHorizontally;
      }
    }
  }
}