.top-nav__item {
  font-size: 16px;
  text-transform: uppercase;
  display: inline;
  margin-right: 25px;

  &:last-child {
    margin-right: 0;
  }

  a {
    color: $primary;
  }

  &:last-child() {
    a {
      color: $gray;
    }
  }
}