%nav__link {
  padding: 0 !important;
  text-decoration: none;
  font-size: 22px;
  color: $gray;
  font-weight: bold;
}

.nav__link, .nav__link_last {
  @extend %nav__link;
  @include animation(.15s);
  background-color: white !important;

  &:hover, &:focus {
    color: $gray;
    transform: scale(1.1);
  }
}

@media (max-width: 850px) {
  .nav__link, .nav__link_last, .dropdown-toggle {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .nav__link, .nav__link_last, .dropdown-toggle {
    font-size: 18px !important;
  }
}