%nav__link {
  padding: 0 !important;
  text-decoration: none;
  color: $gray;
  font-weight: bold;
}

.nav__link, .nav__link_last {
  @extend %nav__link;
  @include animation(.15s);
  background-color: white !important;

  &:hover, &:focus {
    color: white;
    transform: scale(1.1);
  }
}

@media (max-width: 1200px) {
  .nav__link, .nav__link_last, .dropdown-toggle {
    font-size: smaller !important;
  }
}

@media (max-width: 767px) {
  .nav__link, .nav__link_last, .dropdown-toggle {
    font-size: 14px !important;
  }
}