.register-info {
  margin-top: 115px;

  > .row {
    div {
      @extend %center;
      flex-direction: column;
    }
  }

  .button {
    @include size(420px, 75px);
    margin-top: 30px;
  }

  h2 {
    font-size: 34px;
  }
}

@media (max-width: 525px) {
  .register-info {
    h2 {
      font-size: 28px;
    }
  }
}

@media (max-width: 440px) {
  .register-info {
    margin-top: 35px;

    h2 {
      font-size: 20px;
      font-weight: bold;
    }

    .button {
      @include size(270px, 50px);
      font-size: 14px;
    }
  }
}