.register-info {
  margin-top: 115px;

  > .row {
    div {
      @extend %center;
      flex-direction: column;
    }
  }

  .button {
    @include size(420px, 75px);
    margin-top: 30px;
  }

  h2 {
    font-size: 34px;
  }
}