.promo__description {
  font-weight: bold;
  font-size: 22px;
  color: black;
  width: 360px;
}

@media (max-width: 470px) {
  .promo__description {
    font-size: 20px;
  }
}

@media (max-width: 370px) {
  .promo__description {
    font-size: 18px;
    width: 80%;
  }
}