@import 'block/promo/__description/promo__description.scss';
@import 'block/promo/__title/promo__title.scss';
@import 'block/promo/__button/promo__button.scss';
@import 'block/promo/__image/promo__image.scss';

$promo-gradient: linear-gradient(-124deg, #c2e9fb 0%, #a1c4fd 100%);

.promo {
  &__left {
    z-index: 1;
  }

  &__right {
    @extend %center;
    flex-direction: column;
    background-image: $promo-gradient;
  }
}

@media (max-width: 1450px) {
  .promo {
    &__right {
      padding-left: 20%;
    }
  }
}

@media (max-width: 1250px) {
  .promo {
    &__right {
      padding-left: 30%;
    }
  }
}

@media (max-width: 991px) {
  .promo {
    > .row {
      flex-direction: column;
      background-image: $promo-gradient;
    }

    &__left {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 40px;
    }

    &__right {
      padding-left: 0;
      padding-bottom: 40px;
      background-image: none;
    }

    &__overlay {
      text-align: center;
    }
  }
}

@media (max-width: 767px) {
  .promo {
    > .row {
      height: 550px;
    }

    &__overlay {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    &__right {
      padding-right: 0;
    }
  }
}