%icon {
  @include animation(.15s);
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  font-family: "Icon";
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  color: $secondary;
}

%owl-nav-news {
  display: grid;
  grid-template-columns: 65px 65px;
  grid-template-rows: 65px 65px;
  height: 100%;
  position: absolute;
  align-content: center;
  justify-content: center;
  width: 25%;
  top: 0;
}

.owl-theme .owl-nav [class*=owl-], .owl-theme .owl-nav [class*=owl-]:hover {
  background: white;
}

.news__slider {
  .owl-nav {
    @extend %owl-nav-news;
    left: 0;
  }
  
  .owl-next {
    @include square(65px);
    @include setCell(1, 2);
    position: relative;
    box-shadow: -5px -4px 15px rgba(0, 0, 0, 0.08);
  
    &:after {
      @extend %icon;
      content: "\e250";
    }
  }
  
  .owl-prev {
    @include square(65px);
    @include setCell(2, 1);
    position: relative;
    box-shadow: -5px -4px 15px rgba(0, 0, 0, 0.08);
  
    &:before {
      @extend %icon;
      content: "\e251";
    }
  }
}

.new-books__slider {
  .owl-stage-outer {
    margin-right: 190px;
  }

  .owl-nav {
    @include square(100%);
    @extend %centerVertically;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: space-between;
    z-index: -1;
  }

  .owl-next {
    @include size(70px, 425px);
    box-shadow: -5px 0px 20px 0px rgba(0, 0, 0, 0.17);
    position: relative;
    &:after {
      @extend %icon;
      content: "\e250";
    }
  }
  
  .owl-prev {
    display: none;
  }
}

@media (max-width: 767px) {
  .news__slider {
    .owl-nav {
      width: initial;
      display: flex;
      position: initial;
      height: initial;
    }
  }
}