.button {
  outline: none !important;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;

  &-primary {
    color: white;
    border: 1px solid $primary;
    background-image: linear-gradient(to top, #a1c4fd 0%, #c2e9fb 100%);
    border-radius: 5px;
  }

  &-secondary {
    @include animation(0.35s);
    border: 0;
    border-radius: 32px;
    background: white;
    color: $secondary;
    box-shadow: $shadow;

    &:hover {
      color: white;
      background: $secondary;
    }
  }
}