@import 'block/top-nav/__additional/top-nav__additional.scss';
@import 'block/top-nav/__item/top-nav__item.scss';
@import 'block/top-nav/__link/top-nav__link.scss';
@import 'block/top-nav/__logo/top-nav__logo.scss';

.top-nav {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 15px;
}