.reviews__item {
  @include size(600px, 260px);
  display: flex;
  margin-right: 30px;
  background: white;
  box-shadow: $shadow;
  border-radius: 3px;
}

@media (max-width: 1150px) {
  .reviews__item {
    height: 240px;
  }
}

@media (max-width: 991px) {
  .reviews__item {
    &:nth-child(n+2) {
      margin-top: 45px;
    }
  }
}

@media (max-width: 670px) {
  .reviews__item {
    margin-right: 0;
    width: 98%;
  }
}

@media (max-width: 410px) {
  .reviews__item {
    display: flex;
    flex-direction: column;
    height: initial;
  }
}
