@import 'block/new-books/__background-text/new__background-text.scss';

.new-books {
  margin-top: 90px;

  > .row {
    &:nth-child(1) {
      position: relative;
    }
  }

  &__slider {
    margin-top: 30px;

    .new-books {
      &__list {
        margin-left: 25px;
        list-style: none;
      }

      &__item {
        &:nth-child(2) {
          margin-top: 65px;
        }
      }
    }

    .news {
      &__item {
        @include size(220px, 335px);
        box-shadow: initial;
        background: transparent !important;
      }

      &__image {
        width: 161px;
        box-shadow: 5px 5px 20px 0 #d4d4d4;
      }

      &__title {
        padding: 0;
        margin-top: 30px;
        font-size: 18px;
      }

      &__description {
        padding: 0;
        margin-top: 15px;
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 859px) {
  .new-books {
    .owl-item {
      &.active {
        display: flex;
        justify-content: center;
      }
    }
  }
}

@media (max-width: 767px) {
  .new-books {
    &__slider {
      .owl-stage-outer {
        margin-right: 0 !important;
      }
    }
  }
}